.assortment-section {
    padding: 50px 0 50px;
}

.assortment-section__list {
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.assortment-section__item:nth-child(3n + 2) {
    position: relative;
    top: 70px;
    left: 0;
}

.assortment-section__item {
    position: relative;
    max-width: calc((100% - 40px )/ 3 );
    width: 100%;
    min-height: 228px;
    transition: .6s;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(28 / 20);
    display: flex;
    align-items: end;
    padding: 5px 40px;
    z-index: 1;
}

.assortment-section__text {
    min-height: 56px;
}

.assortment-section__img {
    position: absolute;
    inset: 0;
    display: block;
    width: 380px;
    z-index: -1;
    height: 100%;
}    

.assortment-section__item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.6s;
}

.assortment-section__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.assortment-section__title-text{
    max-width: 700px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

@media(max-width:1100px){
    .assortment-section {
        padding: 41px 0 35px;
    }
    
    .assortment-section__list {
        display: flex;
        gap: 30px 22px;
        flex-wrap: wrap;
    }
    
    .assortment-section__item:nth-child(3n + 2) {
        position: relative;
        top: 53px;
        left: 0;
    }
    
    .assortment-section__item {
        position: relative;
        max-width: calc((100% - 40px )/ 3 );
        width: 100%;
        min-height: 228px;
        transition: .6s;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(28 / 20);
        display: flex;
        align-items: end;
        padding: 5px 20px;
        z-index: 1;
    }
    
    .assortment-section__text {
        min-height: 56px;
    }
    
    .assortment-section__img {
        position: absolute;
        inset: 0;
        display: block;
        object-fit: cover;
        object-position: top;
        z-index: -1;
        height: 100%;
    }    
    
    .assortment-section__item:hover {
        transform: scale(1.1, 1.1);
        transition: 0.6s;
    }
    
    .assortment-section__title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
    }
    .assortment-section__item {
        position: relative;
        max-width: calc((100% - 44px) / 3);
        width: 100%;
        min-height: 172px;
        transition: .6s;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(28 / 20);
        display: flex;
        align-items: end;
        padding: 5px 20px;
        
    }
    
    .assortment-section__title-text{
        max-width: 660px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        line-height: calc(40 / 30);
    }
}

@media(max-width:850px){
    .assortment-section {
        padding: 40px 0 30px;
    }
    .assortment-section__title-text{
        max-width: 500px;
        font-size: 24px;
        line-height: calc(36 / 24);
    }
    
    .assortment-section__list {
        gap: 20px 20px;
    }
    
    .assortment-section__item:nth-child(3n + 2) {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .assortment-section__item {
        position: relative;
        max-width: calc((100% - 20px )/ 2 );
        width: 100%;
        min-height: 200px;
        transition: .6s;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(28 / 20);
        display: flex;
        align-items: end;
        padding: 5px 30px;
        z-index: 1;
    }
    
    .assortment-section__text {
        min-height: 56px;
    }   
    
    .assortment-section__item:hover {
        transform: scale(1.1, 1.1);
        transition: 0.6s;
    }
    
    .assortment-section__title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}
@media(max-width:610px){
    .assortment-section {
        padding: 23px 0 15px;
    }
    .assortment-section__title-text{
        max-width: 300px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
    
    .assortment-section__list {
        gap: 10px 10px;
    }
    
    .assortment-section__item {
        position: relative;
        max-width: calc((100% - 10px )/ 2 );
        width: 100%;
        min-height: 130px;
        transition: .6s;
        font-weight: 700;
        font-size: 10px;
        line-height: calc(14 / 10);
        display: flex;
        align-items: end;
        padding: 5px 10px;
        z-index: 1;
    }
    
    .assortment-section__text {
        min-height: 56px;
    }  
    
    .assortment-section__item:hover {
        transform: scale(1.1, 1.1);
        transition: 0.6s;
    }
    
    .assortment-section__title{
        margin-bottom: 15px;
    }
}

@media(max-width:550px){
    .container {
        padding: 0 16px;
    }

}
@media(max-width:530px){
    .assortment-section {
        padding: 23px 0 15px;
    }
    .assortment-section__title-text{
        max-width: 300px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
    
    .assortment-section__list {
        gap: 10px 10px;
        justify-content: center;
    }
    
    .assortment-section__item {
        position: relative;
        max-width: calc((100% - 50px )/ 2 );
        width: 100%;
        min-height: 100px;
        transition: .6s;
        font-weight: 700;
        font-size: 10px;
        line-height: calc(14 / 10);
        display: flex;
        align-items: end;
        padding: 5px 10px;
        z-index: 1;
    }
    
    .assortment-section__text {
        min-height: 31px;
    }   
    
    .assortment-section__item:hover {
        transform: scale(1.1, 1.1);
        transition: 0.6s;
    }
    
    .assortment-section__title{
        margin-bottom: 15px;
    }
}

@media(max-width:360px){
    .assortment-section__item{
        position: relative;
        max-width: calc((100% - 10px )/ 2 );
        width: 100%;
        min-height: 75px;
        transition: .6s;
        font-weight: 700;
        font-size: 10px;
        line-height: calc(14 / 10);
        display: flex;
        align-items: end;
        padding: 5px 10px;
        z-index: 1;
    }
}
