
.question-section {
    padding: 50px 0 50px;
}

.question-section__list {
    list-style: none;
    padding: 0;
    margin: 0;
}    

.question-section__item {
    padding: 21px 70px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 700;
    transition-delay: .3s;
}    

.question-section__item:not(:last-child) {
    margin-bottom: 20px;
}

.question-section__item:nth-child(odd) {
    background-color: #fff;
    color: black;
}

.question-section__item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.question-section__item::after{
    content: "";
    float: right;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
}    

.question-section__item:nth-child(odd)::after {
    background-image: url("../img/plus-purple.svg");
    transition-delay: .3s;
    
} 

.question-section__item:hover:nth-child(odd)::after {
    background-image: url("../img/plus-purple-hover.svg");
    transition-delay: .3s;
    
}

.question-section__item:active:nth-child(odd)::after {
    background-image: url("../img/plus-purple-active.svg");
    transition-delay: .3s;
    
}

.question-section__item:nth-child(even)::after {
    background-image: url("../img/plus-white.svg");
    transition-delay: .3s;
}


.question-section__item:hover:nth-child(even)::after {
    background-image: url("../img/plus-white-hover.svg");
    transition-delay: .3s;
}

.question-section__item:active:nth-child(even)::after {
    background-image: url("../img/plus-white-active.svg");
    transition-delay: .3s;
}

.question-section__title {
    margin-bottom: 40px;
}


@media(max-width:1024px){
    
.question-section {
    padding: 35px 0 17px;
}

.question-section__list {
    list-style: none;
    padding: 0;
    margin: 0;
}    

.question-section__item {
    padding: 11px 33px 11px 54px;
    font-size: 20px;
    line-height: calc(48 / 20);
}    

.question-section__item:not(:last-child) {
    margin-bottom: 17px;
}

.question-section__item:nth-child(odd) {
    background-color: #fff;
    color: black;
}

.question-section__item:nth-child(even) {
    background-color: #fff;
    color: black;
}

.question-section__item::after{
    content: "";
    float: right;
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
}    

.question-section__item:nth-child(odd)::after {
    background-image: url("../img/plus-purple.svg");
    transition-delay: .3s;
    
} 

.question-section__item:hover:nth-child(odd)::after {
    background-image: url("../img/plus-purple-hover.svg");
    transition-delay: .3s;
    
}

.question-section__item:active:nth-child(odd)::after {
    background-image: url("../img/plus-purple-active.svg");
    transition-delay: .3s;
    
}

.question-section__item:nth-child(even)::after {
    background-image: url("../img/plus-purple.svg");
    transition-delay: .3s;
}


.question-section__item:hover:nth-child(even)::after {
    background-image: url("../img/plus-white-hover.svg");
    transition-delay: .3s;
}

.question-section__item:active:nth-child(even)::after {
    background-image: url("../img/plus-white-active.svg");
    transition-delay: .3s;
}

.question-section__title {
    margin-bottom: 26px;
}
}

@media(max-width:768px){
    
    .question-section {
        padding: 30px 0 35px;
    }
    
    .question-section__title {
        font-size: 24px;
        line-height: calc(26 / 24);
    }    
    
    .question-section__item {
        padding: 13px 33px 13px 59px;
        font-size: 18px;
        line-height: calc(46 / 18);
    }    
    
    .question-section__item:not(:last-child) {
        margin-bottom: 17px;
    }
    
    .question-section__item:nth-child(odd) {
        background-color: #fff;
        color: black;
    }
    
    .question-section__item:nth-child(even) {
        background-color: #fff;
        color: black;
    }
    
    .question-section__item::after{
        content: "";
        float: right;
        width: 47px;
        height: 47px;
        background-repeat: no-repeat;
    }    
    
    .question-section__item:nth-child(odd)::after {
        background-image: url("../img/plus-purple.svg");
        transition-delay: .3s;
        
    } 
    
    .question-section__item:hover:nth-child(odd)::after {
        background-image: url("../img/plus-purple-hover.svg");
        transition-delay: .3s;
        
    }
    
    .question-section__item:active:nth-child(odd)::after {
        background-image: url("../img/plus-purple-active.svg");
        transition-delay: .3s;
        
    }
    
    .question-section__item:nth-child(even)::after {
        background-image: url("../img/plus-purple.svg");
        transition-delay: .3s;
    }
    
    
    .question-section__item:hover:nth-child(even)::after {
        background-image: url("../img/plus-white-hover.svg");
        transition-delay: .3s;
    }
    
    .question-section__item:active:nth-child(even)::after {
        background-image: url("../img/plus-white-active.svg");
        transition-delay: .3s;
    }
    } 
@media(max-width:600px){
    .question-section__span{
        font-size: 16px;
        max-width: 500px;
    }
    .question-section__item {
        padding: 7px 33px 7px 10px;
        font-size: 18px;
        line-height: calc(34 / 18);
    } 
    .question-section__item:nth-child(odd)::after {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    .question-section__item:nth-child(even)::after {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    .question-section__item:not(:last-child) {
        margin-bottom: 10px;
    }
}


@media(max-width:550px){
    .container {
        padding: 0 16px;
    }
}

@media(max-width:525px){
    .question-section__span{
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        max-width: 240px;
        line-height: calc(16 / 12);
        height: 32px;
    }
    .question-section__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 33px 7px 10px;
        font-size: 12px;
        line-height: calc(16 / 12);
    } 
}

@media(max-width:375px){
    .question-section__span{
        font-size: 12px;
        max-width: 200px;
    }

}

@media(max-width:334px){
    .question-section__span{
        display: inline-block;
        font-size: 12px;
        max-width: 200px;
    }
}