.reservation-section {
    padding: 80px 0 80px;
    background-color: #440F51;
}

.button-reservation {
    background-color: #f9f4f4;
    border: 1px solid #f9f4f4;
}

.reservation-section__title {
    margin-bottom: 60px;
}

.reservation-section__fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reservation-section__fieldset-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-basis: 1080px;
    gap: 60px;
}

.reservation-section__legend {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    margin-bottom: 38px;
}

.reservation-section__label {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    font-size: 22px;
    gap: 12px;
}

.reserved-section__input {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
}

.reserved-section__input:focus::after {
    position: absolute;
    content: '';
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    display: block;
    background-color: transperent;
    border: 1px solid var(--primary-color-pink);
    outline: none; 
    border-radius: 50%;
}

.reserved-section__input-checkbox {
    position: relative;
    width: 27px;
    height: 27px;
}

.reserved-section__input-checkbox:checked::before {
    background-color: transperent;
    position: absolute;
    border: 1px solid var(--primary-color-pink);
    outline: none;
    content: '';
    inset: 0;
    display: block;
}

.reservation-section__label:last-child {
    margin: 0;
}

.reserved-section__text-item {
    font-size: 22px;
    display: flex;
    flex-basis: content;
}

.reservation-section__legend-left {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    margin-bottom: 23px;
    white-space: nowrap;
}

.reservation-section__fieldset-left {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    align-items: flex-start;
}

.reservation-section__fieldset-center {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    align-items: flex-start;
}

.reservation-section__fieldset-right {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    align-items: flex-start;
}

.reserved-section__input {
    width: 27px;
    height: 27px;
}


.reservation-section__label-text {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: calc(40 /30);
    color: #000000;
    text-transform: uppercase;
    padding: 7px 33px 8px;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border:3px solid #fff;
    transition-delay: .3s;
}

.reservation-section__label-text:hover {
    border:3px solid var(--primary-color-dark-purple);
    background-color: rgb(234, 222, 237);
    transition-delay: .3s;
}


.reservation-section__label-text:active {
    border:3px solid #fff;
    background-color: var(--primary-color-violet);
    transition-delay: .3s;
    color: #fff;
}

.reservation-section__input-hall:checked + .reservation-section__label-text{
    border:3px solid #fff;
    background-color: var(--primary-color-violet);
    color: #fff;
    transition-delay: .3s;
}

.reservation-section__input-hall:focus + .reservation-section__label-text {
    border:3px solid var(--primary-color-dark-purple); 
    transition-delay: .3s;
}

.reservation-section__input-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.reservation-section__input-wrapper:last-child {
    margin: 0;
}

.reservation-section__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 14px 50px;
    margin-bottom: 40px;
}

.reservation-section__info-wrapper:nth-last-child()  {
    margin: 0;
}

.reserved-section__time-wrapper {
    display: flex;
    gap: 32px;
}

.reservation-section__info-date {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.reservation-section__label-input {
    max-width: 300px;
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: calc(28 /18);
    padding: 12px 16px;
    margin-bottom: 14px;
    border: 2px solid transperent;
    outline: none;
    transition-delay: .3s;
}

.reservation-section__label-input:focus {
    border: 2px solid rgb(205, 6, 255);
    transition-delay: .3s;
}

.reservation-section__input-date {
    position: relative;
    width: 134px;
    margin-bottom: 0;
    border: 2px solid transperent;
}

.reservation-section__input-date::-webkit-calendar-picker-indicator {
    opacity: 0; 
    padding: 0;
    inset: 0;
    position: absolute;
    border: none;
    width: auto;
    height: auto;
} 

.reservation-section__label-input::placeholder{
    color: #211E1E;

}
.reservation-section__label-data{
    font-size: 14px;
    line-height: calc(16 /14);
    margin-bottom: 6px;
    outline: none;
    
}

.reservation-section__label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    font-size: 14px;
    line-height: calc(16 /14);
    font-weight: 700;
}    

.reservation-section__label-wrapper_width-less {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.reservation-section__input-name {
    display: block;
    max-width: 280px;
    width: 100%;
    font-size: 18px;
    line-height: calc(28 /18);
    padding: 12px 20px;
    margin-bottom: 14px;
    outline: none;
    transition-delay: .3s;
}

.reservation-section__input-name:focus {
    border: 2px solid rgb(205, 6, 255);
    outline: none;
    transition-delay: .3s;
}

.reservation-section__input-name:last-child {
    margin-bottom: 0;
}

.reservation-section__label-input:last-child {
    margin-bottom: 0;
}

.button-reservation-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    max-width: 980px;
}   

.button-reservation {
    position: relative;
    border: none;
    border: 3px solid transparent;
    padding: 16px 47px;
    color: #6C0287;
    background-color: #ffffff;
    font-size: 22px;
    line-height: calc(28 /22);
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition-delay: .3s;
    z-index: 1;
}  
.button-reservation::after {
    content: "";
    position: absolute;
    inset: 0;
    color: var(--primary-color-violet);
    background-color: var(--primary-color-white);
    filter: blur(10px);
    z-index: -1;
} 

.button-reservation:hover {
    border: 3px solid rgb(108, 2, 135);
    background-color: rgb(234, 222, 237);
    transition-delay: .3s;
}

.button-reservation:active {
    border: 3px solid transparent;
    background-color: rgb(234, 222, 237);
    transition-delay: .3s;
}

.button-reservation:focus{
    border: 3px solid rgb(108, 2, 135);
    background-color: #fff;
    color: rgb(108, 2, 135);
    transition-delay: .3s;
}

.reserved-section__time-wrapper {
    display: flex;
    /* flex-basis: 300px; */
    justify-content: space-between;
    margin-bottom: 36px;
}

@media(max-width:1100px){
    .reservation-section {
        padding: 60px 0 60px;
    }
    .title {
        font-size: 30px;
        line-height: calc(40 / 30);
        margin-bottom: 25px;
    }
    
    .reservation-section__label-text {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(24 /20);
        padding: 10px 20px 10px;
        border-radius: 6px;
    }

    .reservation-section__label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        line-height: calc(25 / 22);
        font-size: 22px;
        gap: 12px;
    }
    .reservation-section__legend {
        margin-bottom: 26px;
    }
    .button-reservation {
        padding: 13px 45px;
        font-size: 18px;
        line-height: calc(24 / 18);
        max-width: 254px;
        
        
    }

    .reservation-section__input-name {
        display: block;
        max-width: 100%;
        width: 100%;
        font-size: 18px;
        line-height: calc(28 / 18);
        padding: 12px 20px;
        margin-bottom: 14px;
        outline: none;
        transition-delay: .3s;
    }

    .reservation-section__label-wrapper_width-less {
        max-width: 251px;
    }

    .reservation-section__label-wrapper {
        max-width: 254px;
    }

    .reservation-section__label-input_quantity-people {
        max-width: 300px;
    }

    .button-reservation-wrapper {
        max-width: 100%;
    }
    
    .reservation-section__info-wrapper {
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        gap: 0px 20px;
        margin-bottom: 50px;
    }
    
    .reservation-section__fieldset-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        flex-basis: 1080px;
        gap: 60px;
    }
    
    .reserved-section__input {
        width: 27px;
        height: 27px;
    }
}    

@media(max-width:800px){
    .reservation-section {
        padding: 50px 0 50px;
    }
    .title {
        font-size: 24px;
        line-height: calc(36 / 24);
        margin-bottom: 40px;
    }
    .reservation-section__legend {
        margin-bottom: 30px;
    }
    .reservation-section__label-text {
        font-weight: 700;
        white-space: nowrap;
        max-width: max-content;
        font-size: 16px;
        line-height: calc(20 /16);
        padding: 9px 20px ;
        border-radius: 6px;
    }

    .reservation-section__label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        line-height: calc(25 / 22);
        font-size: 22px;
        gap: 20px;
    }
    .reservation-section__fieldset {
        margin-bottom: 50px;
    }
    .reservation-section__legend {
        margin-bottom: 30px;
    }
    .reserved-section__input {
        width: 40px;
        height: 40px;
    }

    .reserved-section__input-checkbox{
        width: 40px;
        height: 40px;
    }

    .reservation-section__fieldset-left {
        flex-basis: 40%;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .reservation-section__fieldset-center {
        flex-basis: 40%;
        flex-shrink: 1;
        flex-grow: 0;
    }


    .reservation-section__fieldset-wrapper {
        justify-content: start;
        flex-wrap: wrap;
        gap: 32px 66px;
        margin-bottom: 53px;
    }

    .reservation-section__label-wrapper {
        display: flex;
    }

    .reserved-section__label-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        margin-bottom: 42px;
    }
    .reserved-section__time-wrapper {
        margin-bottom: 0;
    }
    .reservation-section__info-wrapper {
        flex-wrap: wrap; 
        
    }
    .reserved-section__time-wrapper {
        justify-content: start;
        
    }
    .reserved-section__time-wrapper {
        gap: 14px;
    }
    .reservation-section__label-wrapper {
        max-width: 300px;
    }
    .reservation-section__label-wrapper_width-less {
        max-width: 280px;
    }
    .button-reservation {
        padding: 16px 50px;
        font-size: 22px;
        line-height: calc(28 / 22);
        border-radius: 10px;
        border: 1px solid transparent;
        max-width: 300px;
    }

}
@media(max-width:660px){
    .reservation-section__label-wrapper{
        width: calc((100% - 20px) /2);
    }
    .reservation-section__label-wrapper_width-less {
        width: calc((100% - 40px) /2);
    }
    .reserved-section__time-wrapper {
        width: calc((100% - 40px) /2);
    }
    .reservation-section__label-input_quantity-people {
        width: calc((100% - 20px) /2);
    }
    .reservation-section__input-date {
        width: calc((100% / 2) - 10px)
    }
}


@media(max-width:650px){
    .reservation-section__fieldset {
        flex-wrap: wrap;
        max-width: 320px;
        margin: 0 auto 30px;
        max-height: 200px;
        gap: 14px 20px;
        justify-content: center;
    }

    .reservation-section__data-wrapper {
        display: flex;
        justify-content: space-between;
        flex-basis: 280px;
    }
    .reservation-section__label-text {
        display: flex;
        max-width: 100%;
        flex-basis: 150px;
        justify-content: center;
        white-space: nowrap;
    }
}

@media(max-width:550px){
    .container {
        padding: 0 16px;
    }
}
@media(max-width:510px){
    .reservation-section {
        padding: 30px 0 30px;
    }
    .reservation-section__title {
        font-size: 14px;
        line-height: calc(20 / 14);
        margin-bottom: 13px;
    }
    .reservation-section__legend {
        font-size: 14px;
        line-height: calc(18 / 14);
        margin-bottom: 15px;
    }
    .reservation-section__label-text {
        font-size: 14px;
        text-align: center;
        line-height: calc(18 /14);
        padding: 6px 20px ;
        border-radius: 4px;
    }

    .reservation-section__label {
        margin-bottom: 15px;
        line-height: calc(18 / 16);
        font-size: 16px;
        gap: 20px;
    }
    .reserved-section__input {
        width: 30px;
        height: 30px;
    }
    .reserved-section__input-checkbox{
        width: 30px;
        height: 30px;
    }
    .reservation-section__legend-left{
        line-height: calc(18 / 14);
        font-size: 14px;
    }

    .reservation-section__fieldset {
        margin-bottom: 50px;
    }
    .reservation-section__legend {
        margin-bottom: 30px;
    }
    .reservation-section__fieldset-wrapper {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px 5px;
        margin-bottom: 53px;
        
    }
    .reservation-section__label-text {
        width: 130px;
    }

    .reservation-section__label-wrapper {
        display: flex;
        max-width: 100%;
        /* margin-bottom: 35px; */
    }
    .reservation-section__label-input {
        max-width: 100%;
    }
    .reserved-section__label-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        margin-bottom: 42px;
    }
    .reserved-section__time-wrapper {
        margin-bottom: 0;
    }
    .reservation-section__info-wrapper {
        flex-wrap: wrap; 
        
    }
    
    .reservation-section__input-date {
        width: 50%;
    }
    
    .button-reservation {
        padding: 16px 50px;
        font-size: 22px;
        line-height: calc(28 / 22);
        border-radius: 10px;
        border: 1px solid transparent;
        width: 100%;
    }
    .reserved-section__time-wrapper {
        justify-content: start;
        gap: 14px;
        /* flex-basis: 52px; */
    
    }
    .reservation-section__input-date{
        padding: 12px 0;
        font-size: 14px;
    }
    .reservation-section__label-input_time-visit {
        padding: 12px 16px;
    }
} 
    
@media(max-width:400px){
    .reserved-section__time-wrapper {
        justify-content: start;
        gap: 14px;
        flex-basis: 52px;
        width: 100%;
    }
    .button-reservation {
        padding: 17px 49px;
        font-size: 18px;
        line-height: calc(26 / 18);
        border-radius: 4px;
        border: 1px solid transparent;
        width: 100%;
        max-width: 100%;
    }
    .reservation-section__label-wrapper {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin-bottom: 35px;
    }
    .reservation-section__label-wrapper:last-child{
        margin-bottom: 0;
    }
    .reservation-section__label-input_quantity-people{
        width: 100%;
        max-width: 100%;
    }
    .reserved-section__label-wrapper {
        flex-direction: column;
        gap: 15px 12px;
    }
}


@media(max-width:380px){
    .reservation-section__fieldset-left {
        flex-basis: 100%;
    }

    .reservation-section__fieldset-center {
        flex-basis: 100%;
    }
    .reservation-section__fieldset-wrapper {
        justify-content: start;
        gap: 29px 5px;
        margin-bottom: 30px;
    }
    .reservation-section__legend-left {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: calc(18 / 14);
        
    }
    .reservation-section__label-text {
        flex-basis: 130px;
        border-radius: 4px;
    }
}



