.banner-section {
    padding: 20px 0 50px;
    
}

.banner-section__wrapper {
    background-image: url("../img/banner__hall-vibes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-section__title {
    padding: 335px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    line-height: calc(90 / 80);
    
}

.banner-section__wrapper-content {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    
}

.banner-section__content-hall {
    flex-basis: min-content;
    display: flex;
    flex-direction: column;
}

.banner-section__text-bold {
    color: var(--primary-color-pink);
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.banner-section__text {
    font-size: 30px;
    text-align: center;
}

.banner-section__link::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(10px);
    background-color: var(--primary-color-violet);
    z-index: -1;
}

.banner-section__link:hover {
    background-color: var(--primary-color-light-purple);
    transition-delay: .3s;
}

.banner-section__link:focus {
    background-color: var(-primary-color-light-purple);
    transition-delay: .3s;
}

.banner-section__link:active {
    background-color: var(--primary-color-dark-purple);
    transition-delay: .3s;
}


@media(max-width:1024px){
    .banner-section {
        padding: 20px 0 35px;
    }
    .banner-section__title {
        padding: 227px 10px;
        font-size: 80px;
        line-height: calc(90 / 80);
        
    }
    
    
}

@media(max-width:768px){
    .banner-section {
        padding: 20px 0 30px;
    }
    .banner-section__title {
        font-size: 60px;
        line-height: calc(72 / 60);
        
    }
    .banner-section__title {
        padding: 165px 10px;
        font-weight: 700;
        font-size: 60px;
        line-height: calc(72 / 60);
        
    }

}    
@media(max-width:320px){
    .banner-section {
        padding: 15px 0 15px;
    }
    .banner-section__title {
        padding: 66px 10px;
        font-size: 30px;
        line-height: calc(36 / 30);
    }
}










