.header {
    padding-top: 30px;
    font-size: 22px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header__line-button{
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 22px;
    line-height: calc(50 / 22);
    text-transform: uppercase;
}

.header__item-link {
    transition: .3s;
}

.header__item-link:hover {
    color: var(--primary-color-light-purple);
    transition: .3s;
    
}

.header__item-link:focus {
    color: var(--primary-color-light-purple);
    transition: .3s;
    
}

.header__item-link:active {
    color: var(--primary-color-dark-purple);
    transition: .3s;
    
}

/* .header__line-svg:hover {
    color: var(--primary-color-pink);
    transition: .3s;
}
.header__line-svg:active {
    color: var(--primary-color-light-purple);
    transition: .3s;
}
.header__line-svg:focus {
    color: var(--primary-color-light-purple);
    transition: .3s;
} */

.header__button-phone {
    color: var(--primary-color-white);
    padding: 12px 32px;
    font-size: 22px;
    line-height: calc(30 / 22);
    border: 3px solid var(--primary-color-pink);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}



.header__button-phone:hover {
    background-color: var(--primary-color-light-purple);
    border: 3px solid var(--primary-color-light-purple);
    transition-duration: .3s;
    transition-property: background-color;
    animation-fill-mode: forwards;
}

.header__button-phone:focus {
    background-color: var(--primary-color-light-purple);
    border: 3px solid var(--primary-color-light-purple);
    transition-duration: .3s;
}

.header__button-phone:active {
    background-color: var(--primary-color-dark-purple);
    border: 3px solid var(--primary-color-dark-purple);
    transition-duration: .3s;
}

.header__back-wrapper {
    display: flex;
    justify-content: start;
    gap: 10px;

}

.header__back-link {
    font-size: 22px;
    line-height: calc(28 / 22);
    font-weight: 700;
    display: flex;
    gap: 10px;
    color: var(--primary-color-white);
    transition: .3s;
}

.header__back-line {
    background-image: url("../../../img/Arrow_back.png");
    background-repeat: no-repeat;
    background-position: left;
}
.header__back-svg {
    fill: var(--primary-color-white);
    cursor: pointer;
} 
.header__back-svg:hover {
    color: var(--primary-color-light-purple);
}
.header__back-svg:focus {
    color: var(--primary-color-light-purple);
}
.header__back-svg:active {
    fill: var(--primary-color-dark-purple);
} 



/*.header__back-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 25px;
    background-image: url(../img/Arrow_back.png); 
    background-repeat: no-repeat;
    background-size: 30px 25px;
}*/
/* .header__back-link:hover::before{
    color: var(--primary-color-light-purple);
    transition-duration: .3s;
    transition-property: background-color;
}
 */


.header__back-link:hover{
    color: var(--primary-color-light-purple);
    transition-duration: .6s;
    
}
.header__back-link:focus{
    color: var(--primary-color-light-purple);
    transition-duration: .3s;
    
}
.header__back-link:active {
    color: var(--primary-color-dark-purple);
    transition-duration: .3s;
    
} 


@media(max-width:1100px){
    .header__logo-svg {
        max-width: 87px;
        height: 55px;
        
        }
        .header__wrapper {
            margin-bottom: 50px;
        }
    .header__list {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        line-height: calc(22 / 18);
        text-transform: uppercase;
    }
    .header__button-phone {
        padding: 10px 26px 11px 26px;
        font-size: 18px;
        line-height: calc(24 / 18);
        border-radius: 8px;
    }
    
}

@media(max-width:840px){
    .header__logo-svg {
        max-width: 87px;
        max-height: 55px;
        
    }
    .header__line-button{
        display: block;
    }
    .header__line-svg{
        
        color: var(--primary-color-violet);
    } 
    .header__nav {
        display: none;
    }
    .header__wrapper {
        margin-bottom: 40px;
    }
    .header__back-link {
        font-size: 16px;
        line-height: calc(28 / 16);
    }
}
@media(max-width:550px){
    .container {
        padding: 0 16px;
    }
    .header__logo-svg {
        max-width: 66px;
        max-height: 42px;
        
    }
    .header__line-svg{
        max-width: 39px;
        max-height: 20px;
    } 
    .header__button-phone  {
        display: none;
        }
        .header__wrapper {
            margin-bottom: 20px;
        }
        .header__back-link {
            font-size: 12px;
            line-height: calc(16 / 12);
        }
        .header__back-wrapper {
            gap: 6px;
        }
        .header__back-svg {
            width: 16px;
        }
    
}
