.report-section {
    padding: 50px 0 50px;
}

.report-section__title {
    margin-bottom: 92px;
}
.report-section__list {
    padding-left: 100px;
}

.report-section__item {
    font-size: 20px;
    line-height: calc(28 / 20);
    letter-spacing: 0;
    margin-bottom: 50px;
}

.report-section__figure {
    display: inline-block;
    vertical-align: top;
    margin-right: 11px;
}

.report-section__item:last-child{
    margin-bottom: 0;
}

.report-section__figcaption {
    text-align: center;
    font-family: Arial;
}

.report-section__text {
    display: inline-block;
    vertical-align: middle;
    max-width:calc(100% - 420px) ;
    padding-top: 52px;
}

.report-section__images {
    position: relative;
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 50%; 
    opacity: .5;
}

.report-section__wrapper-img {
    width: 280px;
    height: 280px;
    margin: 0 0 11px 0;
    border-radius: 50%;
    background-image: radial-gradient(50.00% 50.00% at 50% 50%,
                rgba(196, 196, 196, 0),
                rgba(108, 2, 135, 0.5) 100%);
}

.report-section__images_position_middle {
    object-position: 50% 30%;
}

.report-section__images_position_top {
    object-position: 50% 55%;
}


@media(max-width:1024px){
    .report-section {
        padding: 35px 0 35px;
    }
    
    .report-section__title {
        margin-bottom: 26px;
        font-size: 30px;
        line-height: calc(40 / 30);
    }
    .report-section__list {
        padding-left: 100px;
    }
    
    .report-section__item {
        font-size: 18px;
        line-height: calc(26 / 18);
        margin-bottom: 40px;
    }
    
    .report-section__figure {
        display: inline-block;
        vertical-align: top;
        margin-right: 38px;
    }
    
    .report-section__text {
        display: inline-block;
        vertical-align: middle;
        max-width:calc(100% - 390px) ;
        padding-top: 33px;
    }
    
    .report-section__images {
        position: relative;
        width: 172px;
        height: 172px;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 50%; 
        opacity: .5;
    }
    
    .report-section__wrapper-img {
        width: 170px;
        height: 170px;
        margin: 0 0 21px 0;
        border-radius: 50%;
        background-image: radial-gradient(50.00% 50.00% at 50% 50%,
                    rgba(196, 196, 196, 0),
                    rgba(108, 2, 135, 0.5) 100%);
        margin: 0 0 21px 0;
    }
    
    .report-section__images_position_middle {
        object-position: 50% 30%;
    }
    
    .report-section__images_position_top {
        object-position: 50% 55%;
    }
    
}

@media(max-width:900px){
    .report-section {
        padding: 30px 0 30px;
    }
    
    .report-section__title {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: calc(36 / 24);
    }
    .report-section__list {
        padding-left: 63px;
    }
    
    .report-section__item {
        font-size: 16px;
        line-height: calc(22 / 16);
        margin-bottom: 30;
    }
    .report-section__figcaption {
        font-size: 14px;
        line-height: calc(20 / 14);
    }
    .report-section__figure {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
    }
    
    .report-section__text {
        display: inline-block;
        vertical-align: middle;
        max-width:calc(100% - 275px) ;
        padding-top: 30px;
    }
    
    .report-section__images {
        width: 153px;
        height: 153px;
    }
    
    .report-section__wrapper-img {
        width: 153px;
        height: 153px;
        margin: 0 0 17px 0;
    }
    
}

@media(max-width:550px){
    .container {
        padding: 0 16px;
    }

}

@media(max-width:530px){
    .report-section {
        padding: 15px 0 15px;
    }
    
    .report-section__title {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: calc(16 / 14);
    }
    .report-section__list {
        padding-left: 0px;
    }
    
    
    .report-section__item {
        font-size: 12px;
        line-height: calc(16 / 12);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .report-section__figcaption {
        font-size: 14px;
        line-height: calc(20 / 14);
        margin-bottom: 15px;
    }
    .report-section__figure {
        display: flex;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }
    
    .report-section__text {
        display: inline-block;
        vertical-align: middle;
        max-width:100% ;
        padding-top: 0;
    }
    
    .report-section__images {
        width: 86px;
        height: 86px;
    }
    
    .report-section__wrapper-img {
        width: 86px;
        height: 86px;
        margin: 0 0 9px 0;
    }
    
}