:root {
    --primary-color-white: #fff;
    --primary-color-violet: #6C0287;
    --primary-color-light-purple: #840AA3;
    --primary-color-dark-purple: #640AA3;
    --primary-color-pink: #cd06ff;
    --primary-color-grey: #EADEED;
}